/* 디자인 컬러 조합
 1. 노랑F9E54E 오렌지F8981D 빨강E12E4B 하늘#5BBDCB
 2. 하늘#BEDAE5 노랑EECB27 빨강E13239 남색#1F1762
 3. 하늘#A6C2CE 브라운9C8F96 노랑EBC57C 남색6B799E*/


@font-face { 
    font-family: 'ko' ;
    src: url('../fonts/koverwatch1.eot') format('eot');
    src: local(※), url('../fonts/koverwatch1.woff') format('woff');
}
@font-face { 
    font-family: 'md' ;
    src: url('../fonts/Medium.eot') format('eot');
    src: local(※), url('../fonts/Medium.woff') format('woff');
}
@font-face { 
    font-family: 'sb' ;
    src: url('../fonts/SemiBold.eot') format('eot');
    src: local(※), url('../fonts/SemiBold.woff') format('woff');
}
@font-face { 
    font-family: 'bd' ;
    src: url('../fonts/Bold.eot') format('eot');
    src: local(※), url('../fonts/Bold.woff') format('woff');
}

.tui-editor-contents {
    font-family: md;
  }
#app {
    font-family: md
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
background-color: #0363BA;
border-radius: 10px;
}
::-webkit-scrollbar-track {
background-color: #bdbdbd;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}
#content {
    margin: 70px 200px;
}

@media (max-width:992px) {
    #content {
        margin: 70px 88px!important;
    }
}
#photo {
    height: 100px;
}
/*회원가입창과 로그인창의 사진*/
#profilephoto {
    width: 100%;
}

/*모달 설정*/
.modal {
    font-family: ko;
}
.modal-header {
    background-color: #A6C2CE;
    color: white;
}
.modal-footer {
    height: 60px;
}

/*일반버튼 설정*/
#commonbutton {
    background-color: #9C8F96;
    border: 0;
}

input {
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    margin: 10px 0;
}
li {
    list-style: none;
}

#title {
    font-size: 50px;
}

/*마우스 오버 시 커서로 변경*/
.cursor {
    cursor: pointer
}

/* 버튼 호버시 시간 딜레이 */
button {
    transition-duration: 1s
}
/*점점점*/
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
/*오른쪽 사이드모션*/
.right-side { transition: all 0.25s; } 
.right-side-enter-active { transition: all 0.25s ease; } 
.right-side-leave-active { transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1); } 
.right-side-enter, .right-side-leave-active { opacity: 0; transform: translateX(100%); }
/*바텀 사이드 모션*/
.bottom-side { transition: all 0.25s; } 
.bottom-side-enter-active { transition: all 0.25s ease; } 
.bottom-side-leave-active { transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1); } 
.bottom-side-enter, .bottom-side-leave-active { opacity: 0; transform: translateY(100%); }
/*한영 변환 모션*/
.conversion { transition: all 0.5s;}
.conversion-leave-active { transition: all 0.5s ease; transform: translateY(-30%); opacity:0; position: absolute;} 
.conversion-enter-active {transition: all 0.5s ease; transition-delay: 0.5s; }
.conversion-leave {opacity:1; }
.conversion-enter {opacity:0; visibility: 0; transform: translateY(30%);}

/*nav바 밑줄*/
.nav-item{
    display:inline;
    transition: 0.5s ease;
}
.nav-item:before, .nav-item:after {
    content: '';
    position: absolute;
    width: 0;
    border-bottom: solid 2px #6B799E;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav-item:before { left:50%; }
.nav-item:after { right: 50%; }
.nav-item:hover:before, .nav-item:hover:after {
    width: 50%;
}